body {
	font-family: 'Oswald', 'Helvetica', sans-serif;
	font-weight: lighter;
	background-color: #000;
	background-image: linear-gradient(rgba(30,70,110,0.5), rgba(2,30,50,0));
	background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#092F51), color-stop(0%,#000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #092F51 0%,#000 100%); /* Chrome10+,Safari5.1+ */ 
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.bg-cream {
	background-color: #F4F0E6;
	background-image: linear-gradient(rgba(244,240,230,1) 0%, rgba(204,200,200,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(244,240,230,1) 0%, rgba(244,240,230,1) 70%, rgba(204,200,200,1) 100%); 
}

#background-bar {
	position: absolute;
	width: 100%;
	height: 50%;
	bottom: 0px;
}

.map-thumbnail {
	max-height: 250px;
	max-width: 250px;
	border-radius: 6px;
	border-style: solid;
	margin-bottom: 10px;
	border-color: #4445; 
	border-width: 1px; 
	border-top-color: #7775; 
	border-left-color: #7775;
	cursor: pointer;
}

.alternate-image-color {
	width: 15px;
	height: 15px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 12px;
	margin-top: 12px;
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	border-color: #EEE3;
	cursor: pointer;
}

.alternate-selected {
	border-color: #333;
	border-width: 2px;
}

.original {
	background-color: #01917a;
}

.rose {
	background-color: #ad496d;
}

.orange {
	background-color: #cb5730;
}